<%namespace file="/base/uiHelpers.html" import="pager"/>
<%namespace file="/base/confirmModal.html" import="delete_modal"/>

<div class="list-partial">
	% if len(devices):
		<table class="condensed-table zebra-striped sortable">
			<thead>
				<tr>
				    <th>
						${self.sortable('name')}
					</th>
				    <th>
						${self.sortable('ip')}
					</th>
					<th style="width: 130px;"></th>
				</tr>
			</thead>
			<tbody>
				% for item in devices:
		        <tr>
			        <td valign="top">
						<a href="/devices/${item.id}/edit">       	
			        		${item.name}
			        	</a>
                    </td>
                    <td valign="top">
						<a href="/devices/${item.id}/edit">       	
			        		${item.ip}
			        	</a>
			        </td>
			        <td valign="top">
			        	<a class="btn" href="/devices/${item.id}/edit" style="height: 14px;">
			        		Editar
			        	</a>
			        	<a class="btn" style="height: 14px;" data-controls-modal="confirm-modal" 
			        		data-backdrop="true" data-keyboard="true" 
			        		href="javascript:;" 
			        		onclick="$('#confirm-modal #delete').attr('href', 
			        			'/devices/' + ${item.id} + '/delete');">
						    Borrar	
			        	</a>
			        </td>
				</tr>
				% endfor
			</tbody>
		</table>
		
		## pager	
	    ${pager(devices)}
		
	% else:
	<p>
		No se encontraron Camaras!
	</p>
	% endif

	## delete confirm modal dialog	
    ${delete_modal("Esta seguro que desea eliminar esta camara?")}
    
</div>

<%def name="sortable(column)">
    <% sort_column = request.GET.get("sort") if request.GET.get("sort") else "name" %>
    <% sort_direction = request.GET.get("direction") if request.GET.get("direction") else "asc" %>  
	<% css_class = "" %>
	% if (column == sort_column):
		<% css_class = "current " + sort_direction %>
	% endif
	
	<% direction = "asc" %>
	% if (column == sort_column and sort_direction == "asc"):
		<% direction = "desc" %>
	% endif

	% if column == "name":
		<a href="${request.route_url('device_list')}?sort=${column}&direction=${direction}" 
            class="${css_class}">Nombre</a>
   % else: 
        <a href="${request.route_url('device_list')}?sort=${column}&direction=${direction}" 
			class="${css_class}">Ubicaci&oacute;n</a>
    % endif
</%def>
