<%inherit file="/base/index.html" />
<%block name="head">
<script src="${request.static_url('patchman:static/js/datefmt.js')}"></script>
<script type="text/javascript">

$(document).ready(function(){
        var insertLog = function(i, l) {
                    var fmt = new DateFmt("%d/%m/%y %H:%M");
                    var css = (l.e)?'new':'new-disabled';
                    var element = 
                    "<li class='"+css+"'>"+
                    l.p+": " +fmt.format(new Date(l.t))+ 
                    "</li>" ;
                    items.push(element);
        }

        var logResponse = function(data) {
            if (data.length) {
                var items = []
                $.each(data,insertLog);
                $("#logs").prepend(items.join( "" ));
            }
        };


        var logFrame = function() {
            $.getJSON( "${request.route_url('log_get')}", logResponse);
            setTimeout(logFrame, 3 * 1000)

        };

        logFrame();
        //$('.stream').bind('load', logFrame);
});

</script>

</%block>

<div class="page-header">
  	<h1>${device.name}</h1>
</div>

<div class="row show-grid">
	<div class="span6">
		<h4>Monitor</h4>
<!--        <img src="http://192.168.0.33/axis-cgi/mjpg/video.cgi" width="320"
alt="cam" class="stream" />-->
        <img src="http://localhost:8080/stream" width="320" alt="cam"
class="stream" />
</div>
	<div class="span6">
		<h4>Historial</h4>
        <div id="logs"></div>
    </div>
</div>
