<%namespace file="/base/uiHelpers.html" import="pager"/>
<%namespace file="/base/confirmModal.html" import="delete_modal"/>

<div class="list-partial">
	% if len(plates):
		<table class="condensed-table zebra-striped sortable">
			<thead>
				<tr>
					<th style="width: 300px;">
						${self.sortable('code')}
					</th>
					<th style="width: 150px;">
						${self.sortable('active')}
					</th>
				    <th>
						${self.sortable('brand')}
					</th>
					<th style="width: 130px;"></th>
				</tr>
			</thead>
			<tbody>
				% for item in plates:
		        <tr>
			        <td valign="top">
						<a href="/plates/${item.id}/edit">       	
			            	${item.code}
			        	</a>
			        </td>
			        <td valign="top">
                        % if item.active:
                        Si
                        %else:
                        No
                        %endif
			        </td>
			        <td valign="top">
				            % if item.brand: 
			        		    ${item.brand.name}
                            % endif
			        </td>
			        <td valign="top">
			        	<a class="btn" href="/plates/${item.id}/edit" style="height: 14px;">
			        		Editar
			        	</a>
			        	<a class="btn" style="height: 14px;" data-controls-modal="confirm-modal" 
			        		data-backdrop="true" data-keyboard="true" 
			        		href="javascript:;" 
			        		onclick="$('#confirm-modal #delete').attr('href', 
			        			'/plates/' + ${item.id} + '/delete');">
						    Borrar	
			        	</a>
			        </td>
				</tr>
				% endfor
			</tbody>
		</table>
		
		## pager	
	    ${pager(plates)}
	    
	% else:
	<p>
		No se encontraron patentes!
	</p>
	% endif

	## delete confirm modal dialog	
    ${delete_modal("Esta seguro que desea eliminar esta patente?")}
	
</div>

<%def name="sortable(column)">
    <% sort_column = request.GET.get("sort") if request.GET.get("sort") else "code" %>
    <% sort_direction = request.GET.get("direction") if request.GET.get("direction") else "asc" %>  
	<% css_class = "" %>
	% if (column == sort_column):
		<% css_class = "current " + sort_direction %>
	% endif
	
	<% direction = "asc" %>
	% if (column == sort_column and sort_direction == "asc"):
		<% direction = "desc" %>
	% endif

	% if column == "code":
		<a href="${request.route_url('plate_list')}?sort=${column}&direction=${direction}" 
			class="${css_class}">Patente</a>
    % elif column == 'active':
		<a href="${request.route_url('plate_list')}?sort=${column}&direction=${direction}" 
			class="${css_class}">Activa</a>
    % else:
		<a href="${request.route_url('plate_list')}?sort=${column}&direction=${direction}" 
			class="${css_class}">Marca</a>

    % endif
</%def>

