<%doc>
	delete confirm dialog with confirm question
</%doc> 
<%def name="delete_modal(question)">
	<div id="confirm-modal" class="modal hide fade">
		<div class="modal-header">
	  		<a href="#" class="close">&times;</a>
	  		<h3>Confirmar Borrado</h3>
		</div>
		
		<div class="modal-body">
	  		<p>${question}</p>
		</div>
		
		<div class="modal-footer">
	  		<a id="delete" href="" class="btn danger">Eliminar</a>
	  		<a href="javascript:;" class="btn secondary" 
	  			onclick="$('#confirm-modal').modal('hide')">Cancelar</a>
		</div>
	</div>
</%def>
