<%inherit file="/base/index.html" />
<%namespace file="listPartial.html" name="listPartial" import="*"/>

<div class="page-header">
	<h1 class="pull-left">Marcas</h1>
  	<div class="pull-right">
		<a class="btn primary" style="margin-right:10px; height:15px;" 
			href="${request.route_url('brand_new')}">Agregar Marca</a>
		<div id="quicksearch" class="search-box">
			<form method="get" action="${request.route_url('brand_list')}">
				<input name="search" type="text" value="" placeholder="Search">
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="span14">
	    <%include file="listPartial.html"/>
  </div>
</div>

