[secrets]
mail.transport.username =	user@domain.com
mail.transport.password = userpass
sqlalchemy.url = mysql+mysqldb://user:pass@localhost/db

[alembic]
script_location = migration
pyramid_config_file = condor.ini
sqlalchemy.url = mysql+mysqldb://user:pass@localhost/db

[condor]
storage = /media/storage/log

